@import "tailwindcss";

@theme {
  --color-background: #151320;
  --color-surface: #1e293b;
  --color-surface-2: #334155;
  --color-text: #e2e8f0;
  --color-text-muted: #94a3b8;
  --color-border: #475569;
  --color-primary: #3b82fcfc;

  --table-header-bg: var(--color-surface);
  --table-header-color: var(--color-text);
  --table-row-hover-bg: var(--color-surface-2);
  --table-selected-row-bg: var(--color-primary);
  --table-border-color: var(--color-border);

  --status-bg: #595c6116;
  --ant-tag-default-color: var(--color-text);
  --status-border: var(--color-border);

}

html[data-theme="light"] {
  --color-background: #dad6d683;
  --color-surface: #f1f5f9;
  --color-surface-2: #e2e8f0;
  --color-text: #0f172a;
  --color-text-muted: #475569;
  --color-border: #000000;

  --table-header-bg: var(--color-surface);
  --table-header-color: var(--color-text);
  --table-row-hover-bg: var(--color-surface-2);
  --table-selected-row-bg: var(--color-primary);
  --table-border-color: var(--color-border);

  --status-bg: rgba(59, 130, 246, 0.12);
  --status-color: var(--color-text);
  --status-border: var(--color-border);


}


span.css-var-_r_0_.ant-tag {
  background: var(--status-bg);
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--table-border-color);
}